@inject HttpClient Http

<td>@user.Id</td>

@if (editable)
{
    <td><input type="text" bind="name" class="form-control" /></td>
    <td><input type="text" bind="email" class="form-control" /></td>
    <td>
        <button class="btn btn-success" onclick="@(async () => await EditSave())">Save</button>
        <button class="btn btn-warning" onclick="@(() => Cancel())">Cancel</button>
    </td>
}
else
{
    <td>@name</td>
    <td>@email</td>
    <td><button class="btn btn-info" onclick="@(() => editable = true)">Edit</button></td>
}

@functions {
    [Parameter]
    User user { get; set; }
    bool editable = false;
    string name;
    string email;

    protected override void OnInit()
    {
        name = user.Name;
        email = user.Email;
    }

    protected async Task EditSave()
    {
        user.Name = name;
        user.Email = email;
        await Http.PutJsonAsync($"/api/users/{user.Id}", user);
        editable = false;
    }

    protected void Cancel()
    {
        editable = false;
        OnInit();
    }
}